certifi==2024.7.4
charset-normalizer==3.3.2
decorator==4.4.2
idna==2.10
imageio==2.34.2
imageio-ffmpeg==0.5.1
markdown-it-py==3.0.0
mdurl==0.1.2
moviepy==1.0.3
numpy==2.0.1
pillow==10.3.0
proglog==0.1.10
Pygments==2.18.0
pytube==15.0.0
requests==2.32.3
rich==13.7.1
scrapetube==2.5.1
tqdm==4.66.4
typing_extensions==4.12.2
urllib3==2.2.2
uuid==1.30
pytubefix==6.8.1
